
<div class="container">

    <h1 class="my-4 text-center text-lg-left">Star Sign List</h1>

    <div class="row text-center text-lg-left">

      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/virgo.png" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/taures.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a  href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/scorpio.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/sagittarus.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#"  class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/pisces.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/libra.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/leo.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/gemini.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#"  class="d-block mb-4 h-100" >
          <img class ="img-fluid" src="assets/images/capricorn.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#"  class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/cancer.png" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a   class="d-block mb-4 h-100"      >
          <img class ="img-fluid" src="assets/images/aries.jpg" width="200" height="200">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class ="img-fluid" src="assets/images/aquarius.jpg" width="200" height="200">
        </a>
      </div>
    </div>

  </div>
