<body>
<div class="card">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
<div class="card-body">

<form class="inline" name="ProcessInfo" action="#" method="POST" enctype="multipart/form-data" target="_self" onsubmit="return checkForm();" >
 
  <br>
  <legend>
  <label for="txtDOB"><h1>Date of Birth: </h1></label></legend>
  <legend>
  <input id="txtDOB" type="text" name="txtDOB" size="32">
  format: dd/mm/year</legend>
  <br>
<button class="button" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>
</div>
</body>